*,
*::before,
*::after {
  border: 0;
  margin: 0;
}

:root {
  --font-family: "Nunito Sans";
  --primary-color: #3a86ff;
  --secondary-color: #0077b6;
  --body-color: #edf6f9;
  --body-color-two: #fffffc;
  --ash-color: #d9d9d9;
}

body {
  background-color: var(--body-color-two);
  font-family: var(--font-family), sans-serif;
}

.container {
  max-width: 100%;
  margin-inline: auto;
}

.container .logo {
  margin: 2em;
}

.logo h2 {
  font-size: 1.8rem;
  letter-spacing: 5px;
}

.form_container {
  max-width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.form_container .welcome_text {
  margin-bottom: 2rem;
  padding-block: 1.2rem;
  line-height: 35px;
}

.welcome_text h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.welcome_text p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(123, 120, 120);
}

.budget-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.budget-information {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.set_budget {
  margin-bottom: 2rem;
  grid-column: 1/13;
}

.set_budget p {
  text-align: left;
  display: block;
  font-size: 20px;
  color: rgb(93, 89, 89);
  margin-bottom: 20px;
}

.set_budget select {
  outline: 1px solid var(--secondary-color);
  background-color: var(--ash-color);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  font: 14px;
  color: #474747;
  cursor: pointer;
  padding-block: 1rem;
  padding-inline-start: 1em;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.set_budget select optgroup {
  font-size: 1rem;
  font-family: inherit;
  padding: 5px;
  text-align: center;
}

.set_duration {
  margin-bottom: 1.4rem;
  grid-column: 1/13;
}

.set_duration p {
  text-align: left;
  display: block;
  font-size: 20px;
  color: rgb(93, 89, 89);
  margin-bottom: 20px;
}

.set_duration select {
  outline: 1px solid var(--secondary-color);
  background-color: var(--ash-color);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  font: 14px;
  color: #474747;
  cursor: pointer;
  padding-block: 1rem;
  padding-inline-start: 1em;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.set_duration select optgroup {
  font-size: 1;
  font-family: inherit;
  padding: 5px;
  text-align: center;
}

.submit_btn {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  padding: 1rem;
  margin-top: 5em;
  position: relative;
}

.submit_btn .prev_btn {
  background-color: var(--body-color);
  outline: 3px solid var(--secondary-color);
  padding: 1em 4em;
  font-family: var(--font-family);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  transition: all .24s ease-in-out;
  grid-column: 1/7;
}

.submit_btn .next_btn {
  background-color: var(--secondary-color);
  outline: 3px solid var(--secondary-color);
  padding: 1em 4em;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  width: 100%;
  transition: all .24s ease-in-out;
  grid-column: 7/13;
}

.submit_btn .prev_btn a {
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

.submit_btn .next_btn a {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.submit_btn .next_btn:hover {
  background-color: #edf6f9;
  outline: 3px solid var(--secondary-color);
}

.submit_btn .next_btn:hover a {
  color: var(--secondary-color);
  font-weight: bold;
}

.submit_btn .prev_btn:hover a {
  color: white;
}

.submit_btn .prev_btn:hover {
  background-color: var(--secondary-color);
  outline: 3px solid var(--secondary-color);
  color: black;
}

@media (min-width: 1000px) {
  .budget-information {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .budget-information {
    width: 50%;
    margin: 0 auto;
  }
}